<div class="container">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
        <p><%= notice %></p>
        <%= link_to "つぶやく", new_tweet_path ,class: 'btn btn-default' %>
        <h4><%= @tweets.count %>件の新着ツイートを表示</h4>
        <% @tweets.each do |tweet| %>
        <div class="row">
            <h4><strong><%= tweet.content %></strong></h4>
            <%= tweet.created_at %><br>
            <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
            <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: {confirm: '本当に削除してよいですか？' }, class: 'btn brn-default btn-sm btn-danger' %>
         </div>
        <% end %>
        <br>
    </div>
</div>